body
	{
	margin: 0;
	padding: 0;
	background-color: #101010;
	}
#verh	{
	height: 20%;
	text-align: center;
	}
#header
	{
	width: 20%;
	float: left;
	}
#menu
	{
	width: 80%;
	float: right;
	text-align: center;
	}
#content
	{
	height: 55%;
	text-align: center;
	clear: both;
	}
#sub-section
	{
	height: 15%;
	text-align: center;
	}
#footer
	{
	background: #333333;
	height: 10%;
	text-align: center;
	}
span	
	{
	font: "Tahoma";
	font-size: 13pt;
	width: 33%;
	float: left;
	border: solid 1px;
	background: #333333;
	border-color: #888888;
	font-style: italic;
	}
a
	{text-decoration:none}
h4
	{
	font: "Arial";
	font-size: 10pt;
	font-style: italic;
	text-align: right;
	color: #DDDDDD;
	}
h3
	{
	font: "Tahoma";
	font-size: 13pt;
	text-align: center;
	color: #DDDDff;
	}	
h1
	{
	font: "Arial";
	font-size: 18pt;
	text-align: center;
	color: #DDDCCC;
	}	
p
	{
	font: "Tahoma";
	font-size: 12pt;
	text-align: justify;
	color: #DDDDDD;
	margin-left: 4px;
	}	
a:link	
	{color:white}
a:visited
	{color:green}
a:hover
	{color:blue}
a:active
	{color:yellow}